@model LittleBlog.Web.Models.ViewModels.SidebarViewModel


<form asp-action="Search" asp-controller="Home" method="get">
    <div class="input-group mb-3">
        <input type="text" name="keyword" value="" class="form-control" placeholder="请输入要搜索的关键词..." />
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">搜索</button>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">
        个人信息
    </div>
    <div class="card-body">

    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        Calendar / 日历
    </div>
    <div class="card-body">

    </div>
</div>
<br />
<div class="list-group">
    <a class="list-group-item disabled" style="background-color: rgba(0, 0, 0, 0.03);">Archive / 归档</a>
    @if(Model.archivedArticlesSummaries.Count() > 0)
    {
        @foreach(var archiveArticleSummary in Model.archivedArticlesSummaries)
        {
            <a class="list-group-item list-group-item-action" asp-action="List" asp-controller="Archive" asp-route-archiveDate="@archiveArticleSummary.ArchiveDate">@archiveArticleSummary.DisplayArchiveDate ( @archiveArticleSummary.ArticlesCount ) </a>
        }
    }
    else
    {
        <a class="list-group-item list-group-item-action">暂无归档数据</a>
    }
</div>
<br />
<div class="list-group">
    <a class="list-group-item disabled" style="background-color: rgba(0, 0, 0, 0.03);">Category / 分类</a>
    @if (Model.categorySummaries.Count() > 0)
    {
        @foreach (var categorySummary in Model.categorySummaries)
        {
            <a class="list-group-item list-group-item-action" asp-action="Category" asp-controller="Archive" asp-route-categoryId="@categorySummary.CategoryId">@categorySummary.CategoryName ( @categorySummary.Count )</a>
        }
    }
    else
    {
        <a class="list-group-item list-group-item-action">暂无分类</a>
    }
</div>
<br />
<div class="list-group">
    <a class="list-group-item disabled" style="background-color: rgba(0, 0, 0, 0.03);">Tags / 标签</a>
    @if (Model.tagSummaries.Count() > 0)
    {
        @foreach (var tagSummary in Model.tagSummaries)
        {
            <a class="list-group-item list-group-item-action" asp-action="Tag" asp-controller="Archive" asp-route-tagId="@tagSummary.TagId">@tagSummary.TagName ( @tagSummary.Count )</a>
        }

    }
    else
    {
        <a class="list-group-item list-group-item-action">暂无标签</a>
    }
</div>
<br />
<div class="card">
    <div class="card-header">
        常用链接 / 友情链接
    </div>
    <div class="card-body">

    </div>
</div>
<br />
