@using LittleBlog.Web.Models.ViewModels
@model LittleBlog.Web.Models.ViewModels.PageListViewModel

@if (Model.pageInfo.TotalCount > 0 && Model.pageInfo.PageCount > 1)
{
    <ul class="pagination">
        <li class="page-item @Model.Items[0].ClassName"><a class="page-link" href="@Url.Action(Model.ActionName, Model.Items[0].routerParams)">@Model.Items[0].InnerHtml</a></li>
        <li class="page-item @Model.Items[1].ClassName"><a class="page-link" href="@Url.Action(Model.ActionName, Model.Items[1].routerParams)">@Model.Items[1].InnerHtml</a></li>
        <li class="page-item disabled"><span class="page-link">第 @Model.pageInfo.CurrentPage 页,共 @Model.pageInfo.PageCount 页</span></li>
        <li class="page-item @Model.Items[2].ClassName"><a class="page-link" href="@Url.Action(Model.ActionName, Model.Items[2].routerParams)">@Model.Items[2].InnerHtml</a></li>
        <li class="page-item @Model.Items[3].ClassName"><a class="page-link" href="@Url.Action(Model.ActionName, Model.Items[3].routerParams)">@Model.Items[3].InnerHtml</a></li>
    </ul>
}
