@model LittleBlog.Web.Models.ViewModels.TagManage.TagManageIndexViewModel

@{
    ViewData["Title"] = "Tag 管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <p>
            <a asp-action="Create" class="btn btn-primary">新增一个标签</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().DisplayName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().CreateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tags.FirstOrDefault().LastEditTime)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Tags.Count() > 0)
                {
                    foreach (var tag in Model.Tags)
                    {
                        <tr>
                            <td>
                                @tag.DisplayName
                            </td>
                            <td>
                                @tag.Description
                            </td>
                            <td>
                                @tag.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")
                            </td>
                            <td>
                                @tag.LastEditTime.ToString("yyyy-MM-dd HH:mm:ss")
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@tag.Id">编辑</a>
                                <a asp-action="Delete" asp-route-id="@tag.Id">删除</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="5">
                            暂无数据！
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
