@model LittleBlog.Web.Models.ViewModels.Manage.ManageIndexViewModel

@{
    ViewData["Title"] = "Manage Articles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <p>
            <a asp-action="Create" class="btn btn-primary">
                写新的文章
            </a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles.FirstOrDefault().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles.FirstOrDefault().Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles.FirstOrDefault().LastEditTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles.FirstOrDefault().IsPublished)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Articles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastEditTime)
                        </td>
                        @if (item.IsPublished)
                        {
                            <td>已发布</td>
                        }
                        else
                        {
                            <td>草稿</td>
                        }
                        <td>
                            <a asp-controller="Manage" asp-action="edit" asp-route-id="@item.Id">编辑</a> |
                            <a asp-controller="Article" asp-action="Index" asp-route-id="@item.Id">查看</a> |
                            <a href="javascript:void(0);" name="btnDeleteArticle" data-id="@item.Id">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @await Component.InvokeAsync("PageList", new { pageInfo = Model.PageInfo, actionName = "Index", routeParams = new Dictionary<string, string>() })
    </div>
</div>
<div id="deleteArticleModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">确定要删除吗？</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnConfirmDeleteArticle" class="btn btn-primary">确定</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $('#deleteArticleModal').on('hidden.bs.modal', function () {
            document.querySelector('#btnConfirmDeleteArticle').removeEventListener("click", function (e) { });
            console.log("清除点击事件");
        })
        // 关闭窗口
        document.querySelectorAll('[name=btnDeleteArticle]').forEach(function (el) {
            el.addEventListener("click", function (event) {
                let id = event.target.dataset["id"];
                document.querySelector('#btnConfirmDeleteArticle').addEventListener("click", function () {
                    deleteArticle("@Url.Action("Delete", "Manage", new { @id="$id$"})", id);
                    $('#deleteArticleModal').modal('hide');
                })
                $('#deleteArticleModal').modal('show');
            });
        });
    </script>
    <script>
        function deleteArticle(url, id) {
            $.ajax({
                url: url.replace("$id$", id),
                type: "post",
                success: function (json) {
                    console.log(json);
                    if (json.isSuccess) {
                        location.reload();
                    } else {
                        alert(json.message);
                    }
                },
                error: function (err) {
                    alert("发生错误，请重新尝试");
                }
            });
        }
    </script>
}